{% extends "base.html" %}
{% load static %}

{% block content %}
<form action="" method="post" class="form-signin">
    {% csrf_token %}
    <img class="mb-4" src="{% static 'images/logo.png' %}" alt="" width="280" height="200">
    <h1 class="h3 mb-3 font-weight-normal">Please log in</h1>
    {{ form.as_p }}

    <button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>
    <a class="btn btn-lg btn-primary btn-block" href="{% url 'password_reset' %}">
        Reset Password
    </a>
</form>
{% endblock %}

<form action="" method="post">

    <input type="submit" value="Login">
</form>