{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NZ At A Glance</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
        
        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
            font-size: 3.5rem;
            }
        }
        </style>

    <link rel="stylesheet" href="{% static 'sticky-footer.css' %}">
    <link rel="stylesheet" href="{% static 'signin.css' %}">
</head>
<body class="d-flex flex-column h-100">
    <header>
        <!-- Fixed navbar -->
        <nav class="navbar navbar-expand-md navbar-dark sticky-top bg-dark">
            <a class="navbar-brand" href="{% url 'home' %}">
                <img src="{% static 'images/logo.png' %}" width="60" height="60" class="d-inline-block align-top" alt=""
                    loading="lazy">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'tours' %}">All Tours</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'agents' %}">Agents</a>
                    </li>
                </ul>
                <button type="button" class="btn btn-default navbar-btn">
                    <a href="{% url 'signin' %}">
                        Sign in
                    </a>
                </button>
            </div>
        </nav>
    </header>

    <!-- Begin page content -->
    <main role="main" class="flex-shrink-0">
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
    </main>

    <footer class="footer mt-auto py-3 fixed-bottom">
        <div class="container">
            <span class="text-muted">NZ At a Glance is a fictitious brand created by Computer Power Plus, solely for the purpose of training. All products
            and people associated with NZ At a Glance are also fictitious. Any resemblance to real brands, products, or people is
            purely coincidental.</span>
        </div>
    </footer>
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>